<html>
  <head>
    <style type="text/css">
      body {
        padding-top: 1em;
        width: fit-content;
        margin: auto;
        text-align: center;
      }
      label {
        font-weight: bold;
        font-size: 36px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
      td, th {
        border: 1px solid black;
        padding: 0.5em 1em;
      }
      td.photo {
        padding: 1px;
        width: 88px;
        height: 88px;
      }
    </style>
    <template id="server-template">
      <tr class="first">
        <td class="photo" rowspan="3"></td>
        <td class="name" rowspan="3"></td>
        <td class="venue" rowspan="3"></td>
        <td class="position" rowspan="3"></td>
        <th>Cash App</th>
        <td class="cash-app"></td>
      </tr>
      <tr class="second">
        <th>Venmo</th>
        <td class="venmo"></td>
      </tr>
      <tr class="third">
        <th>PayPal</th>
        <td class="paypal"></td>
      </tr>
    </template>
  </head>
  <body>
    <form method="GET">
      <label for="search">Search by server name or establishment:</label>
      <!-- {{ '-' + '->' }}
      <input type="text" name="search" value="{{ search }}" />
      {{ '<!-' + '-' }} -->
      <!-- {# -->
      <input type="text" name="search" value="" />
      <!-- #} -->
      <input type="submit" value="Search" />
    </form>
    <hr />
    <!-- {{ '-' + '->' }}
    {% if search and not search_results %}
    <h2>We're sorry, but we weren't able to find who you were looking for.</h2>
    {% elif search and search_results %}
    {{ '<!-' + '-' }} -->
    <h2>These are the fine folks we found who matched your search.</h2>
    <table id="results">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Establishment</th>
          <th>Position</th>
          <th colspan="2">Payment</th>
      </thead>
    </table>
    <!-- {{ '-' + '->' }}
    {% endif %}
    {% if random_results %}
    {{ '<!-' + '-' }} -->
    <h2>Here are some <!-- {{ '-' + '->' }} {% if search_results %}additional{% endif %} {{ '<!-' + '-' }} --> random servers that you can donate to.  <a href="">Refresh</a> or search to see other servers.</h2>
    <table id="random">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Establishment</th>
          <th>Position</th>
          <th colspan="2">Payment</th>
      </thead>
    </table>
    <!-- {{ '-' + '->' }}
    {% endif %}
    {{ '<!-' + '-' }} -->
  </body>
  <script type="text/javascript">
    function link(url, text) {
      var a = document.createElement('a');
      a.href = url;
      a.target = '_blank';
      a.appendChild(document.createTextNode(text));
      return a;
    }
    function img_link(url, img_url) {
      var a = document.createElement('a');
      var img = document.createElement('img');
      a.href = url;
      a.target = '_top';
      img.src = img_url;
      img.width = '88';
      img.height = '88';
      a.appendChild(img);
      return a;
    }
    var PHOTO = 0;
    var THUMBNAIL = 1;
    var NAME = 2;
    var VENUE = 3;
    var POSITION = 4;
    var CASH_APP = 5;
    var VENMO = 6;
    var PAYPAL = 7;
    var template = document.querySelector('#server-template');
    var results_table = document.querySelector('#results');
    var random_table = document.querySelector('#random');
    var search_results = [
      /* {# */
      ["https://gainesvilletips.org/wp-content/uploads/2020/03/bob-belcher.png", "https://gainesvilletips.org/wp-content/uploads/2020/03/bob-belcher-thumb.png", "Bob Belcher", "Bob's Burgers", "Cook", "$bob", "@bob", "bob"],
      ["", "", "Joe", "Joe's Crabshack", "Cook", "$joe", "@joe", "joe"],
      /* #} */
      /* {{ '*' + '/' }}
      {% for row in search_results %}
      [
        {{ row[PHOTO]|default("")|tojson }},
        {{ row[THUMBNAIL]|default("")|tojson }},
        {{ row[NAME]|default("")|tojson }},
        {{ row[VENUE]|default("")|tojson }},
        {{ row[POSITION]|default("")|tojson }},
        {{ row[CASH_APP]|default("")|tojson }},
        {{ row[VENMO]|default("")|tojson }},
        {{ row[PAYPAL]|default("")|tojson }}
      ]{% if not loop.last %},{% endif %}
      {% endfor %}
      {{ '/' + '*' }} */
    ];
    var random_results = [
      /* {# */
      ["", "", "Scooby Doo", "The Van", "Cook", "$scooby", "@scooby", "scooby"],
      ["", "", "Kevin", "Satchel's", "Promoter", "$kevin", "@kevin", "kevin"],
      ["", "", "Harry Dresden", "McAnally's Pub", "Security", "$harry", "@harry", "harry"],
      ["", "", "Spongebob Squarepants", "Krusty Krab", "Cook", "$sponge", "@sponge", "sponge"]
      /* #} */
      /* {{ '*' + '/' }}
      {% for row in random_results %}
      [
        {{ row[PHOTO]|default("")|tojson }},
        {{ row[THUMBNAIL]|default("")|tojson }},
        {{ row[NAME]|default("")|tojson }},
        {{ row[VENUE]|default("")|tojson }},
        {{ row[POSITION]|default("")|tojson }},
        {{ row[CASH_APP]|default("")|tojson }},
        {{ row[VENMO]|default("")|tojson }},
        {{ row[PAYPAL]|default("")|tojson }}
      ]{% if not loop.last %},{% endif %}
      {% endfor %}
      {{ '/' + '*' }} */
    ];
    var datasets = [[results_table, search_results], [random_table, random_results]];
    for(var i=0; i<datasets.length; i++) {
      var dest = datasets[i][0];
      var data = datasets[i][1];
      for(var j=0; j<data.length; j++) {
        var row = data[j];
        var first = document.importNode(template.content.querySelector('.first'), true);
        var second = document.importNode(template.content.querySelector('.second'), true);
        var third = document.importNode(template.content.querySelector('.third'), true);
        if(row[PHOTO] && row[THUMBNAIL]) {
          first.querySelector('.photo').appendChild(img_link(row[PHOTO], row[THUMBNAIL]));
        }
        first.querySelector('.name').innerText = row[NAME];
        first.querySelector('.venue').innerText = row[VENUE];
        first.querySelector('.position').innerText = row[POSITION];
        if(row[CASH_APP]) {
          first.querySelector('.cash-app').appendChild(link('https://cash.app/' + row[CASH_APP], row[CASH_APP]));
        }
        if(row[VENMO]) {
          second.querySelector('.venmo').appendChild(link('https://venmo.com/' + row[VENMO].replace('@', ''), row[VENMO]));
        }
        if(row[PAYPAL]) {
          if(row[PAYPAL].startsWith('https://')) {
            third.querySelector('.paypal').appendChild(link(row[PAYPAL], row[PAYPAL]));
          } else if (row[PAYPAL].indexOf('@') >= 0) {
            var email_url = 'https://www.paypal.com/myaccount/transfer/homepage/external/summary?recipient=';
            third.querySelector('.paypal').appendChild(link(email_url + row[PAYPAL], row[PAYPAL]));
          }
        }
        dest.appendChild(first);
        dest.appendChild(second);
        dest.appendChild(third);
      }
    }
    window.parent.postMessage({'scrollHeight': document.body.scrollHeight}, '*');
  </script>
</html>
